* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
  font-family: "Courier New", Courier, monospace;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hello {
  color: blueviolet;
  font-size: 89px;
  font-weight: bold;
}
